body {
    margin-top: 5%;
    background: #71a1ea;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
}

#container2,
#container1 {
    margin: auto;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    width: 385px;
    height: 354px;
    justify-content: center;
    border-radius: 10px;
    background: white;
}

#login,
#sign-up {
    text-align: center;
    color: #414141;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    height: 10px;
    font-weight: bolder;
    border-radius: 5px;
}

.input-tag {
    display: inline;
    align-items: center;
    margin: auto;
    width: 62%;
    height: 35px;
    text-align: left;
    text-indent: 10px;
    background: rgb(205, 219, 196);
    border: none;
    outline: none;
    color: #414141;
}

#login-btn,
#sign-up-btn {
    margin: auto;
    width: 62%;
    height: 35px;
    border-radius: 2px;
    background: #0063ee;
    color: rgb(248, 251, 250);
    font-family: 'Oswald', 'sans-serif', 'Poppins';
    font-size: large;
    border: none;
}

#login-btn:hover,
#sign-up-btn:hover {
    background: #ffffff;
    color: rgb(8, 0, 255);
    border: #d1d8e3 solid 2px;
    font-family: 'Oswald', 'sans-serif', 'Poppins';
    font-size: large;
}

#container2,
#container1 {
    color: #053049;
    text-align: center;
    margin-bottom: 10px;
}

a {
    color: rgb(188, 120, 86);
    text-decoration: solid underline;
}

div {
    display: inline;
    margin-bottom: 5px;
}