body {
    font-family: Arial, sans-serif;
    background-color: #71a1ea;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background:white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(156, 117, 117, 0);
    text-align: center;
    width: 90%;
    max-width: 300px;
    box-sizing: border-box;
  }
  
  .container h2 {
    color: #141414;
    margin-bottom: 20px;
  }
  
  .container input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    border: #000 solid 2px;
    box-sizing: border-box;
  }
  .container input[type="password"] {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      border: none;
      border-radius: 5px;
      background-color: #fff;
      color: #000;
      box-sizing: border-box;
    border: #000 solid 2px;
  }
  
  .container input[type="name"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    box-sizing: border-box;
    border: #000 solid 2px;

  }
  
  .container input[type="email"]::placeholder {
    color: #414141;
  }
  
  .container input[type="password"]::placeholder {
    color: #414141;
  }
  
  .container input[type='name']::placeholder{
      color: #414141;
  }
  
  .container button {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #0063ee;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box;
  }
  
  .container button:hover {
    background-color: #fff;
    color: #0800ff;
    border: #0800ff solid 2px;
  }
  
  a {
    color: #0800ff;
  }

  div{
    color: #000;
  }
  
  .alert {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
  
  .alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }
  
  #success, #error {
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    display: none;
    animation: fadeIn 0.5s ease-in-out;
  }